<main>
  <h1>アイコン画像管理</h1>
  <section id="appender" class="closable" [class.open]="isAppenderOpen">
    <h2 class="closable-header" (click)="isAppenderOpen = !isAppenderOpen;">画像追加</h2>
    <div class="closable-content">
      <app-appender></app-appender>
    </div>
  </section>
  <section id="viewer" class="closable" [class.open]="isViewerOpen">
    <h2 class="closable-header" (click)="isViewerOpen = !isViewerOpen;">詳細</h2>
    <div class="closable-content">
      <app-viewer [profileImage]="profileImage"></app-viewer>
    </div>
  </section>
  <section>
    <h2>画像一覧</h2>
    <app-lister (imageSelected)="onImageSelected($event);"></app-lister>
  </section>
</main>
