<div class="top">
  <div class="image-adjust">
    <div class="icon-groups">
      <div class="icon-group controllers">
        <button class="icon reload">Reload</button>
        <button class="icon largest">Largest</button>
        <button class="icon smallest">Smallest</button>
      </div>
      <div class="icon-group masks">
        <button class="icon square" [class.active]="isSquareMask" (click)="isSquareMask = true;">Square</button>
        <button class="icon circle" [class.active]="!isSquareMask" (click)="isSquareMask = false;">Circle</button>
      </div>
    </div>
    <div class="resize">
      <input class="resizer" type="range" min="0" max="1000">
    </div>
    <div class="image">
      <canvas #canvas width="600" height="600"></canvas>
    </div>
  </div>
  <div class="operations">
    <button (click)="selectFile();">ファイルを指定</button>
    <button (click)="doUpload();">この画像で登録</button>
  </div>
</div>
<div class="verify" [class.verifying]="verifying" (click)="cancelUpload();">
  <div class="modal">
    <div class="verify-image">
      <img src="{{previewImage}}">
    </div>
    <div class="verify-message">
      この画像で登録しますか？
    </div>
    <button class="upload" (click)="doUploadEnsure(); $event.stopPropagation();" *ngIf="!uploading">登録</button>
    <button class="upload" *ngIf="uploading">登録中...</button>
  </div>
</div>
<div class="hidden">
  <input type="file" #file accept="image/*" (change)="onNewFileSelecteted()">
  <canvas #previewCanvas width="400" height="400"></canvas>
</div>

