<div class="top" (dragover)="onDragOver($event);" (dragleave)="onDragLeave($event);" (drop)="onDrop($event);">
  <div class="image-adjust">
    <div class="icon-groups">
      <div class="icon-group controllers">
        <button class="icon reload" (click)="initCanvas();">Reload</button>
        <button class="icon smallest" (click)="fitToSmallest();">Smallest</button>
      </div>
      <div class="icon-group masks">
        <button class="icon square" [class.active]="isSquareMask" (click)="setSquareMask(true);">Square</button>
        <button class="icon circle" [class.active]="!isSquareMask" (click)="setSquareMask(false);">Circle</button>
        <button class="icon eye" [class.active]="isBlackMask" (click)="toggleBlackMask();">BlackMask</button>
      </div>
    </div>
    <div class="resize">
      <input class="resizer" type="range" min="{{resizerMin}}" max="{{resizerMax}}" [(ngModel)]="canvasState.scale"
        (input)="onCanvasResizing();"
        (change)="onCanvasResized();"
      >
    </div>
    <div class="image">
      <canvas #canvas width="{{CANVAS_SIZE}}" height="{{CANVAS_SIZE}}"
        (mousedown)="onCanvasMouseDown($event);"
        (touchstart)="onCanvasTouchStart($event);"
        (mousemove)="onCanvasMouseMove($event);"
        (touchmove)="onCanvasTouchMove($event);"
        (mouseup)="onCanvasMouseUp($event);"
        (touchend)="onCanvasTouchEnd($event);"
        (mouseout)="onCanvasMouseUp($event);"
        (click)="onCanvasClicked();"
        (gesturestart)="onCanvasGestureStart($event);"
        (gesturechange)="onCanvasGestureChange($event);"
        (gestureend)="onCanvasGestureEnd($event);"
      ></canvas>
    </div>
  </div>
  <div class="operations">
    <button (click)="selectFile();">ファイルを指定</button>
    <button (click)="doUpload();">この画像で登録</button>
  </div>
  <div class="dragging" [class.active]="fileDragging">
    <div>
      ドロップで画像を読み込み
    </div>
  </div>
</div>
<div class="verify" [class.verifying]="verifying" (click)="cancelUpload();">
  <div class="modal">
    <div class="verify-image">
      <img src="{{previewImage}}">
    </div>
    <div class="verify-message">
      この画像で登録しますか？
    </div>
    <button class="upload" (click)="doUploadEnsure(); $event.stopPropagation();" *ngIf="!uploading">登録</button>
    <button class="upload" *ngIf="uploading">登録中...</button>
  </div>
</div>
<div class="hidden">
  <input type="file" #file accept="image/*" (change)="onNewFileSelecteted()">
  <canvas #previewCanvas width="400" height="400"></canvas>
</div>

